<div class="main-body">
  <div class="body-image">
    <%= image_tag "background-tree.jpg" %>
    <img class="body-image__image" src="../assets/fall.jpeg" alt="">
    <img class="body-image__image" src="../assets/pines.jpeg" alt="">
    <img class="body-image__image" src="../assets/smashed-avo.jpeg" alt="">
    <img class="body-image__image" src="../assets/cafe.jpeg" alt="">
  </div>
</div>
