/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body{
   height: 100%;
   height: 100%;
   background: #f3f3f3;
 }

[role="main"] {
  padding-top: 0;
  margin: 0;
  height: 100%;
  clear: both;
}

main{
  padding: 0;
  margin: 0;
}

.body-image{
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0
}

.authform{
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}

.authform form{
  min-width: 340px;
  background: #fff;
  border: 0;
  box-shadow: 0 0 53px rgba(0,0,0,0.2);
}

.your-app{
  width: 100%;
  height: 100%;
  margin: 30px 0;
}

.navigation{
  background: #eeeeee;
  padding: 30px 0;
  display: block;
  float: left;
  width: 100%;
}

.navigation__links{
  float: right;
  list-style: none;
}

.div-long{
  width: calc(80% - 40px);
  background: #ffffff;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: #d1d1d1;
  border-radius: 3px;
  h1{
    margin: 0;
  }
}

.div-hero{
  width: calc(80% - 40px);
  background: #ffffff;
  margin: 0 auto;
  padding: 100px;
  margin-bottom: 30px;
  text-align: center;
  color: #d1d1d1;
  border-radius: 3px;
}

.div-content-container{
  display: flex;
  justify-content: space-between;
  width: calc(80% - 40px);
  margin: 0 auto;
}

.div-content__item{
  background: #ffffff;
  width: 30%;
  height: 160px;
  padding: 30px;
  border-radius: 3px;
}

.link-list{
  list-style: none;
  padding: 0;
  li{
    margin: 0 0 5px 0;
  }
}

.receptive-link{
  color: orange;
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 10px;
  display: block;
}

.receptive-logo{
  width: 160px;
  display: block;
  margin: 0 auto 60px auto;
}
