/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body{
   height: 100%;
   height: 100%;
 }

[role="main"] {
  padding-top: 0;
  margin: 0;
  height: 100%;
}

main{
  background: white;
  padding: 0;
  margin: 0;
}

.navbar-inverse {
  background-color: #FFF9F6;
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.2);
  border: 0;

  .navbar-nav > li > a{
    color: #333;

    &:hover{
      color: #999;
    }
  }
}

.navbar-inverse .navbar-brand {
  color: #333;
  font-weight: bold;
  &:hover{
    color: #999;
  }
}

.body-image{
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 0
}

.authform{
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.authform form{
  min-width: 340px;
  background: #fff;
  border: 0;
  box-shadow: 0 0 53px rgba(0,0,0,0.2);
}
